@media (min-width: 0px){
    .divicon {
        width: 18px;
        height: 18px;
    }
}
@media (min-width: 376px){
    .divicon {
        width: 24px;
        height: 24px;
    }
}
@media (min-width: 417px){
    .divicon {
        width: 24px;
        height: 24px;
    }
}
@media (min-width: 426px){
    .divicon {
        width: 30px;
        height: 30px;
    }
}
@media (min-width: 498px){
    .divicon {
        width: 30px;
        height: 30px;
    }
}
@media (min-width: 769px){
    .divicon {
        width: 36px;
        height: 36px;
    }
}
@media (min-width: 943px){
    .divicon {
        width: 42px;
        height: 42px;
    }
}

@media (min-width: 1440px){
    .divicon {
        width: 48px;
        height: 48px;
    }
}